*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, button {
  font-family: 'Roboto', sans-serif;
}

.container {
  flex: 1 0;
  max-width: 900px;
  margin: 0 auto;
}


.d-flex {
  display: flex;
  align-items: flex-start;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.justify {
  &-space-between {
    justify-content: space-between;
  }

  &-center {
    justify-content: center;
  }

  &-end {
    justify-content: flex-end;
  }

  &-start {
    justify-content: flex-start;
  }
}

.align-center {
  align-items: center;
}

@include spacing('', 'margin', 'm');
@include spacing('', 'padding', 'p');

@include sm {
  @include spacing('-sm', 'margin', 'm');
  @include spacing('-sm', 'padding', 'p');
}

@include xs {
  @include spacing('-xs', 'margin', 'm');
  @include spacing('-xs', 'padding', 'p');
}

