*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, button {
	font-family: 'Roboto', sans-serif;
}

.container {
	flex: 1 0;
	max-width: 900px;
	margin: 0 auto;
}


.d-flex {
	display: flex;
	align-items: flex-start;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-column {
	flex-direction: column;
}

.justify {
	&-space-between {
		justify-content: space-between;
	}

	&-center {
		justify-content: center;
	}

	&-end {
		justify-content: flex-end;
	}

	&-start {
		justify-content: flex-start;
	}
}

.align {
	&-center {
		align-items: center;
	}
	&-end {
		align-items: flex-end;
	}
}

.flex-1-0 {
	flex: 1 0 auto;
}

@include spacing('', 'margin', 'm');
@include spacing('', 'padding', 'p');

.color-white {
	color: white;
}
