.brand-gradient {
  background: linear-gradient(to right, #0b147c, #000649);
}

.gradient-orange {
  background: linear-gradient(
      hsl(44, 100%, 48%) 0%,
      hsla(44, 100%, 48%, 0.738) 19%,
      hsla(44, 100%, 48%, 0.541) 34%,
      hsla(44, 100%, 48%, 0.382) 47%,
      hsla(44, 100%, 48%, 0.278) 56.5%,
      hsla(44, 100%, 48%, 0.194) 65%,
      hsla(44, 100%, 48%, 0.126) 73%,
      hsla(44, 100%, 48%, 0.075) 80.2%,
      hsla(44, 100%, 48%, 0.042) 86.1%,
      hsla(44, 100%, 48%, 0.021) 91%,
      hsla(44, 100%, 48%, 0.008) 95.2%,
      hsla(44, 100%, 48%, 0.002) 98.2%,
      hsla(44, 100%, 48%, 0) 100%
  ),
  #e6193f;
}
.gradient-blue {
  background: linear-gradient( to left,
      hsl(187, 100%, 50%) 0%,
      hsla(187, 100%, 50%, 0.738) 19%,
      hsla(187, 100%, 50%, 0.541) 34%,
      hsla(187, 100%, 50%, 0.382) 47%,
      hsla(187, 100%, 50%, 0.278) 56.5%,
      hsla(187, 100%, 50%, 0.194) 65%,
      hsla(187, 100%, 50%, 0.126) 73%,
      hsla(187, 100%, 50%, 0.075) 80.2%,
      hsla(187, 100%, 50%, 0.042) 86.1%,
      hsla(187, 100%, 50%, 0.021) 91%,
      hsla(187, 100%, 50%, 0.008) 95.2%,
      hsla(187, 100%, 50%, 0.002) 98.2%,
      hsla(187, 100%, 50%, 0) 100%
  ),
  #0091ff;
}
.gradient-purple {
  background: linear-gradient(
      hsl(274, 87%, 51%) 0%,
      hsla(274, 87%, 51%, 0.738) 19%,
      hsla(274, 87%, 51%, 0.541) 34%,
      hsla(274, 87%, 51%, 0.382) 47%,
      hsla(274, 87%, 51%, 0.278) 56.5%,
      hsla(274, 87%, 51%, 0.194) 65%,
      hsla(274, 87%, 51%, 0.126) 73%,
      hsla(274, 87%, 51%, 0.075) 80.2%,
      hsla(274, 87%, 51%, 0.042) 86.1%,
      hsla(274, 87%, 51%, 0.021) 91%,
      hsla(274, 87%, 51%, 0.008) 95.2%,
      hsla(274, 87%, 51%, 0.002) 98.2%,
      hsla(274, 87%, 51%, 0) 100%
  ),
  #6236ff;
}
.gradient-purple-pink {
  background: linear-gradient(
      hsl(218, 100%, 51%) 0%,
      hsla(218, 100%, 51%, 0.738) 19%,
      hsla(218, 100%, 51%, 0.541) 34%,
      hsla(218, 100%, 51%, 0.382) 47%,
      hsla(218, 100%, 51%, 0.278) 56.5%,
      hsla(218, 100%, 51%, 0.194) 65%,
      hsla(218, 100%, 51%, 0.126) 73%,
      hsla(218, 100%, 51%, 0.075) 80.2%,
      hsla(218, 100%, 51%, 0.042) 86.1%,
      hsla(218, 100%, 51%, 0.021) 91%,
      hsla(218, 100%, 51%, 0.008) 95.2%,
      hsla(218, 100%, 51%, 0.002) 98.2%,
      hsla(218, 100%, 51%, 0) 100%
  ),
  #e6193f;
}

.gradient-silver {
  background: linear-gradient(
      hsl(213, 46%, 90%) 0%,
      hsla(213, 46%, 90%, 0.738) 19%,
      hsla(213, 46%, 90%, 0.541) 34%,
      hsla(213, 46%, 90%, 0.382) 47%,
      hsla(213, 46%, 90%, 0.278) 56.5%,
      hsla(213, 46%, 90%, 0.194) 65%,
      hsla(213, 46%, 90%, 0.126) 73%,
      hsla(213, 46%, 90%, 0.075) 80.2%,
      hsla(213, 46%, 90%, 0.042) 86.1%,
      hsla(213, 46%, 90%, 0.021) 91%,
      hsla(213, 46%, 90%, 0.008) 95.2%,
      hsla(213, 46%, 90%, 0.002) 98.2%,
      hsla(213, 46%, 90%, 0) 100%
  ),
  white;
}

.gradient-light-blue {
  background:
    linear-gradient(rgba(249, 251, 255, 0.95), rgba(242, 246, 255, 0.6)) !important;
}
